<!DOCTYPE html>
<html>
    <head>
        <title>Jean Forteroche - Ecrivain</title>
        <link rel="shortcut icon" href="./../web/favicon.ico" type="image/x-icon">
        <link rel="icon" href="./../web/favicon.ico" type="image/x-icon">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
